.top {
    background-color: #4187c6;
}
  
.navigation {
    background-color: #142038;
    }

.link {
    text-decoration: none;
    color: aliceblue;
}

.sega {
        width: 154px;
        height: 136px;
        object-fit: contain;
        background-color: #4187c6;
}

.footer {
    background-color: rgb(16,39,87);
}

.first-header {
    font-size: 70px;
    font-weight: 1000;
}



.textinfo {
    font-size: 20px;
}

main {
    background-image: url(/imagenes/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    background-color: #142038;
    
}
