.top {
    background-color: #4187c6;
}
  
.navigation {
    background-color: #142038;
    }

.link {
    text-decoration: none;
    color: aliceblue;
}

.sega {
        width: 154px;
        height: 136px;
        object-fit: contain;
        background-color: #4187c6;
}

.footer {
    background-color: rgb(16,39,87);
}

.first-header {
    font-size: 70px;
    font-weight: 1000;
}



.textinfo {
    font-size: 20px;
}

main {
    background-image: url(./imagenes/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    background-color: #142038;
    
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 80%;
    max-height: 80%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .controls1,
  .controls2 {
    background-color: #000000;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

 
