

.top {
    background-color: #4187c6;
}
  
.navigation {
    background-color: #142038;
    }

.link {
    text-decoration: none;
    color: aliceblue;
}

.sega {
        width: 112px;
        height: 136px;
        object-fit: contain;
        background-color: #4187c6;
}

main {
    background-image: url(/imagenes/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    background-color: #142038;
    
}

.first-header {
    font-size: 20px;
    font-weight: 500;
}

.subfirst-header {
    font-size: 120px;
    font-weight: 1000;
}

.textinfo {
    font-size: 20px;
}
.buttonknow {

    border: none;
    border-radius: 10px;
    background-color:#142038;
    padding: 18px;
    margin-top: 30px;
    width: 30%;
    height: 10%;
    color: aliceblue;
}

.buttonknow:hover {
    cursor: pointer;
    background-color: white;
    color: black;

}


.notice {
    background: rgb(16,39,87);
    background: -webkit-linear-gradient(90deg, rgba(16,39,87,1) 10%, rgba(24,38,66,1) 33%);
}
.second-header {
    font-size: 70px;
    text-align: center;
    padding: 50px;
    font-weight: 900;
}


.media {
    background-color: #142038;
    background-image: url(/imagenes/fondo3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.netflix {
    font-size: 23px;
}

.netflix-description {
    font-size: 18px;
}

.third-header {
    font-size: 70px;
    padding: 50px;
    font-weight: 900;
}

.sonic2 {
    position: absolute;
    margin: auto;
    z-index: 0;
    right: 0;
}

.videogames {
    background-color: #39185b;
    background-size: cover;
    background-repeat: no-repeat;   
}

.hiper {
    background: rgb(16,39,87);
    background: -webkit-linear-gradient(90deg, #4187c6 10%, #39185b 33%);
    background-size: cover ;
}

.behind {
    background-color: #39185b;
}

.footer {
    background-color: #4187c6;
}