.top {
    background-color: #4187c6;
}
  
.navigation {
    background-color: #142038;
    }

.link {
    text-decoration: none;
    color: aliceblue;

}

.sega {
        width: 153px;
        height: 136px;
        object-fit: contain;
        background-color: #4187c6;
}