@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@media (min-width: 0){
    .z1{
        z-index: 10;
    }
    .z2{
        z-index: 20;
    }
    .margiT-1{
        margin-top: -1em;
    }
    .margiT-3{
        margin-top: -3em;
    }
    .margiT-4{
        margin-top: -10em;
    }
    .coverimg{
        width: 100%;
    }
    .sonic1{
        margin: 1em 0 0 39%;
    }
    .sonic2{
        margin: -0.5em 0 0 -2em;
    }
    .cesped{
        margin: 5em 0 0 -2em;
    }

    
}