.top {
    background-color: #4187c6;
}
  
.navigation {
    background-color: #142038;
    }

.link {
    text-decoration: none;
    color: aliceblue;

}

.sega {
        width: 153px;
        height: 136px;
        object-fit: contain;
        background-color: #4187c6;
}
.videos{
border-radius:5%;
box-shadow: 0px 0px 10px 10px #fffb00;
}
.peli:hover{
    background-image: url(img/fondohover.png);
    margin-left: 1em;
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    animation: preserve-3d 3s;
    border-radius:20%;
    box-shadow: 0px 0px 20px 20px #f32121;
    
}

.ani1{
  width: 100px;
  height: 100px;
  background-image: url(img/anim1.png);
  position:absolute;
  animation-name: example;
  animation-duration: 25s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  
}

@keyframes example {
  0%   {background-image: url(img/anim1.png); left:0px; top:0px;}
  10%  {background-image: url(img/anim02.png); left:100%; top:0px;}
  45%   {background-image: url(img/anim3.png); left:-20%; top:0px;}
  70% {background-image: url(img/anim3.png); left:-50%; top:-20%}

}
.portada{
    align-items: center;
    text-align: center;
    display:inline-block;
}
.footer {
    background-color: rgb(16,39,87);
}